In [1]:
# import relevant libraries
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# load data into a pandas dataframe
crime_df = pd.read_csv("dataset/crime.csv", encoding = "ISO-8859-1")

In [4]:
# get the dimension of the dataframe
crime_df.shape

(319073, 17)

In [5]:
# get the fields
crime_df.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

In [6]:
# get the information about the dataframe
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319073 entries, 0 to 319072
Data columns (total 17 columns):
INCIDENT_NUMBER        319073 non-null object
OFFENSE_CODE           319073 non-null int64
OFFENSE_CODE_GROUP     319073 non-null object
OFFENSE_DESCRIPTION    319073 non-null object
DISTRICT               317308 non-null object
REPORTING_AREA         319073 non-null object
SHOOTING               1019 non-null object
OCCURRED_ON_DATE       319073 non-null object
YEAR                   319073 non-null int64
MONTH                  319073 non-null int64
DAY_OF_WEEK            319073 non-null object
HOUR                   319073 non-null int64
UCR_PART               318983 non-null object
STREET                 308202 non-null object
Lat                    299074 non-null float64
Long                   299074 non-null float64
Location               319073 non-null object
dtypes: float64(2), int64(4), object(11)
memory usage: 41.4+ MB

In [7]:
# check if the data contains NULL values
crime_df.isnull().sum().any()
# True, meaning there are NULL values

True

In [8]:
# get the value count of 'SHOOTING' column
crime_df['SHOOTING'].value_counts()

Y    1019
Name: SHOOTING, dtype: int64

In [9]:
# drop a column from the dataframe
updated_crimedf = crime_df.drop(['SHOOTING'], axis=1)

In [10]:
# check columns
updated_crimedf.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'OCCURRED_ON_DATE',
       'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART', 'STREET', 'Lat',
       'Long', 'Location'],
      dtype='object')

In [11]:
# drop the rows where at least one element is missing
cleaned_crimedf = updated_crimedf.dropna()

In [12]:
# check the new dimension of the dataframe
cleaned_crimedf.shape

(296573, 16)

In [13]:
# import datetime
from datetime import datetime

# convert string to timestamp
cleaned_crimedf["OCCURRED_ON_DATE"] = cleaned_crimedf["OCCURRED_ON_DATE"].apply(lambda x: \
    datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))

In [14]:
# split OCCURRED_ON_DATE into date and time
cleaned_crimedf['DATE'] = [d.date() for d in cleaned_crimedf['OCCURRED_ON_DATE']]
cleaned_crimedf['TIME'] = [d.time() for d in cleaned_crimedf['OCCURRED_ON_DATE']]

In [15]:
# display first five fields
cleaned_crimedf.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,DATE,TIME
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)",2018-09-02,13:00:00
1,I182070943,1402,Vandalism,VANDALISM,C11,347,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)",2018-08-21,00:00:00
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)",2018-09-03,19:27:00
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)",2018-09-03,21:16:00
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)",2018-09-03,21:05:00

In [16]:
crimedf = cleaned_crimedf

In [17]:
# frequency count of Date
count = crimedf['DATE'].value_counts()

In [26]:
# import relevant libraries
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap

In [33]:
# Extract the data we're interested in
lat = crimedf['Lat'].values
lon = crimedf['Long'].values
count = crimedf.groupby(['Lat','Long'])['INCIDENT_NUMBER'].size()

In [34]:
count

Lat         Long
-1.000000   -1.000000     152
 42.232413  -71.129715     10
 42.232656  -71.130700      2
 42.232870  -71.130050      5
 42.232907  -71.131671      3
 42.233086  -71.128157     12
 42.233121  -71.131027      2
 42.233157  -71.132654      6
 42.233342  -71.133688      5
 42.233372  -71.132004      6
 42.233470  -71.138630      1
 42.233574  -71.129177      3
 42.233581  -71.134538      1
 42.233626  -71.132993      1
 42.233713  -71.131298      4
 42.233754  -71.133493      1
 42.233823  -71.130157      8
 42.233961  -71.132284      1
 42.234051  -71.138829     18
 42.234217  -71.133277      5
 42.234291  -71.128342      2
 42.234302  -71.131581      1
 42.234528  -71.129284      1
 42.234543  -71.130915      2
 42.234553  -71.132569      1
 42.234778  -71.130257      4
 42.234801  -71.133965      5
 42.234835  -71.127736      7
 42.234902  -71.137910     18
 42.234963  -71.129623      1
                         ...
 42.390348  -70.998496      2
 42.390353  -71.005191     34
 42.390491  -71.070403      8
 42.390730  -71.004986      5
 42.390889  -71.012590      4
 42.390890  -71.008105     21
 42.391097  -71.003940     13
 42.391120  -71.002297     25
 42.391226  -71.006261      1
 42.391463  -71.001342     57
 42.391473  -71.013062      5
 42.391491  -71.008006      3
 42.391666  -71.010428      8
 42.391933  -70.995362      1
 42.392139  -71.005811      4
 42.392146  -71.008939    105
 42.392153  -71.006774      1
 42.392430  -71.068945     15
 42.392486  -71.005357      3
 42.392697  -71.008424    101
 42.392740  -71.004791     12
 42.392839  -71.005982      2
 42.392898  -71.010804      1
 42.393273  -71.007939     52
 42.393482  -71.010682     14
 42.393518  -71.011405     13
 42.393529  -71.011582     79
 42.394073  -71.010964      2
 42.394213  -71.067413      8
 42.395042  -71.010177     29
Name: INCIDENT_NUMBER, Length: 17776, dtype: int64

In [ ]:
fig = plt.figure(figsize=(8, 8))
m = Basemap(projection='lcc', resolution='h', 
            lat_0=42.3601, lon_0=71.0589,
            width=1E6, height=1.2E6)
m.shadedrelief()
m.drawcoastlines(color='gray')
m.drawcountries(color='gray')
m.drawstates(color='gray')